/*===================================================================
Image
=====================================================================*/
.protagonist {
  color: red;
}

.wiseoldman {
 color: blue; 
}

#beta {
  color: green;
  font-size: 23;
}

main {
  background-image: url("./images/Paper-Grunge-Background-7.jpg");
}